.blog_single{
	li {
		  color: $main_color; 
		}

}

.comments{
	       span{
	           font-size: 11px;
	       }
	       h6{
	       display:inline-block;
	       }
	       hr{
			width:20px;
	       }
       }
  .message_height{
  height:20vh;
  }     